Binaries
DerivedDataCache
Intermediate
Saved
Plugins
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Saved
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Intermediate/CachedAssetRegistry.bin
Saved/Config/Windows/Engine.ini
Saved/Logs/LEDStudioVP.log
Content/ExampleConfigs/RoryMonitorTest3.cfg
